<%- include("partials/header.ejs") %>
    <div class="bg-start">
        <h1 class="h1-start">Vent what's going on in your life.</h1>

        <form action="/start" method="POST" class="btn-start">
            <input type="submit" value="..Start..">
        </form>
    </div>
    <%- include("partials/footer.ejs") %>